* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #22252c;
    
}
.masthead {
    height: 100vh;
    min-height: 500px;
    color: white; position: relative; 
    background-image: url('/resourses/images/undraw_working_late_re_0c3y.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   margin-bottom: 100px;
}

.masthead::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.50);
    
}

h1 {
    position: relative;
    color: #ffffff;  
}
  
.about-me{
    color: white;
    background-color: #22252c;
    margin-bottom: 200px;
    
}
.text-content {
line-height: 30px;

}

.projects-container{
    background-color: #CCCCCC;
}

.projects a{
    text-decoration: none;
    color: black;
    
}

footer a {
    color: white;
    font-size: 1.5rem;
}
footer a:hover{
    color:#4B4B4B;
} 
#myBtn { 
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 10px;   
    border: none; 
    color: black; 
    background-color: white;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;  
    font-size: 1rem;
}